body {
  background: url("images/back3.png") no-repeat center fixed;
  color: #807D7D;
  background-size: cover;
}

h1, h2, h3, h4, h5 {
  font-family:'Open Sans', sans-serif;
}

p, a {
  font-family: 'Raleway', sans-serif;
}

.container {
  margin: 30px 30px;
  padding: 20px 100px;

}

.card{
  background-color: rgba(255, 255, 255, 0.71);
  border-radius: 4px;
  box-shadow: 0px 3px 0px #DDDDDD;
  text-align: center;
}

.name-red {
  color:#DD5555;
}

a {
  color: #E1D8EB;
  text-decoration: none;
}

.circle-profile{
  border-radius: 50%;
  border:1px solid #807D7D;
}

.text-center {
  text-align: center;
}

.btn{
  margin-bottom:15px;
  margin-top:30px;
}

.btn-red{
  background-color: #DD5555;
  padding: 10px 20px;
  margin: 40px;
  color: white;
  border-radius:4px;
}

.color-white{
  color: white;
}

.btn-red:hover {
  color: white;
  background-color: #ff0000;
}

.list-inline >li {
  display: block;
  padding-bottom: 32px;
  text-align: center;
  margin-top: 0 10px;
}

.list-inline2 >li {
  display: inline-block;
  padding: 29px 30px;
  text-align: center;
  margin-top: 0 10px;
}

.list-inline {
  text-align: center;
  padding-left: 0px;
}

.list-inline i {
  font-size: 30px;
}

.list-inline2 {
  text-align: center;
  padding-left: 0px;
}

.list-inline2 i {
  font-size: 30px;
}

.icon-red:hover {
  color: #DD5555;
}

#sidebar {
  position: fixed;
  width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #4a4a4a;
  margin: auto;
}
#content {
  margin-left: 150px;
}

.sidebar-click{
  display: block;
  padding: 30px 0px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.40);
  text-align: center;
}

.sidebar-click:hover{
  color: white;
}

.ul-bar{
  padding: 0px;
}

#left-container {
  width: 35%;
  float: left;
  min-height: 600px;
}

#right-container {
  width: 60%;
  float: right;
  min-height: 600px;
}

.clear {
    clear: both;
}

#left-container{
  width: 40%;
  float: left;
  min-height: 600px;
}

#right-container{
  width: 60%;
  float: left;
  min-height: 600px;
}

.movie {
  margin-right: 20px;
}

